@using CarSales.Models.Database;
@model CarSales.Models.UserCarsModel;
@{
    CarModel car = Model.Cars.First();
    ViewData["Title"] = "Car " + car.Model;
}

<head>
    @await Html.PartialAsync("_Imports")
</head>


<body>
    @await Html.PartialAsync("_User", Model.User)

    @if (Model.IsAdmin)
    {
        <button onclick="window.location.pathname = '/admin'" class="btn btn-success m-4">Admin Panel</button>
    }

    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-8 mb-4 d-flex justify-content-center">
            <div class="card h-100" style="width: 100%; max-width: 500px;">
                <img src="@car.ImageUrl" class="card-img-top" style="height: 300px; object-fit: cover;" alt="@car.Model">
                <div class="card-body">
                    <h4 class="card-title"><strong>@car.Model</strong></h4>
                    <h6 class="card-subtitle mb-4"><strong>@car.Make</strong></h6>
                    <p class="card-text">Price: @car.Price.ToString("C")</p>
                    <p class="card-text">Year: @car.Year</p>
                    <p class="card-text">Color: @car.Color</p>
                    <p class="card-text">Description: @car.Description</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button onclick="window.location.pathname = '/cars'" class="btn btn-primary mt-4">Go to Cars</button>
    </div>


</body>


