@using CarSales.Models.Database;
@model CarSales.Models.UserCarsModel;
@{
    ViewData["Title"] = "Cars";
}

<head>
    @await Html.PartialAsync("_Imports")
</head>

<body>
    @await Html.PartialAsync("_User", Model.User)
    @await Html.PartialAsync("_ShowSuccess")

    @if (Model.IsAdmin)
    {
        <button onclick="window.location.pathname = '/admin'" class="btn btn-success m-4">Admin Panel</button>
    }

    <h1 class="text-center">Cars</h1>

    <div class="container">
        @await Html.PartialAsync("_SearchCars")
        @await Html.PartialAsync("_Paging", Model.CurrentPage)
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            @foreach (CarModel car in Model.Cars)
            {
                <div class="col-md-4 col-sm-6 mb-4 d-flex justify-content-center car-row">
                    <div class="card h-100" style="cursor: pointer;" onclick="window.location.pathname = '/car/@car.Id'">
                        <img src="@car.ImageUrl" class="card-img-top" alt="@car.Model">
                        <div class="card-body">
                            <h4 class="card-title"><strong>@car.Model</strong></h4>
                            <h6 class="card-subtitle mb-4"><strong>@car.Make</strong></h6>
                            <p class="card-text">Price: @car.Price.ToString("C")</p>
                            <p class="card-text">Year: @car.Year</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <script src="~/js/cars.js"></script>
</body>